:root {
  --color-palette-hex-777777: #777777;
  --color-palette-rgba-0000001a: rgba(0, 0, 0, 0.1);
  --color-palette-hex-b6b6b6: #b6b6b6;
  --color-palette-hex-363737: #363737;
  --color-palette-hex-ff6719: #ff6719;
  --color-palette-hex-ffffff: #ffffff;
  --color-palette-hex-eeeeee: #eeeeee;
  --color-palette-hex-000000: #000000;
  --color-palette-hex-c8c8c8: #c8c8c8;
  --color-palette-hex-232525: #232525;
  --color-palette-hex-0083d5: #0083d5;
  --color-palette-rgba-ffffff1a: rgba(255, 255, 255, 0.1);
  --color-palette-hex-7b61ff: #7b61ff;
  --color-palette-hex-2f6d5d: #2f6d5d;
  --color-palette-rgba-ffffff80: rgba(255, 255, 255, 0.5);
  --color-palette-rgba-282828bf: rgba(40, 40, 40, 0.75);
  --color-palette-rgba-ffffffcc: rgba(255, 255, 255, 0.8);
  --color-semantic-canvas: var(--color-palette-hex-ffffff);
  --color-semantic-content: var(--color-palette-hex-363737);
  --color-semantic-border: var(--color-palette-rgba-0000001a);
  --dimension-spacing-negative-px-48: -48px;
  --dimension-spacing-negative-px-8: -8px;
  --dimension-spacing-negative-px-6: -6px;
  --dimension-spacing-negative-px-4: -4px;
  --dimension-spacing-negative-px-1-875: -1.875px;
  --dimension-spacing-negative-px-1-625: -1.625px;
  --dimension-spacing-px-0: 0px;
  --dimension-spacing-px-0-8125: 0.8125px;
  --dimension-spacing-px-0-9375: 0.9375px;
  --dimension-spacing-px-1-625: 1.625px;
  --dimension-spacing-px-1-875: 1.875px;
  --dimension-spacing-px-2: 2px;
  --dimension-spacing-px-4: 4px;
  --dimension-spacing-px-6: 6px;
  --dimension-spacing-px-8: 8px;
  --dimension-spacing-px-10: 10px;
  --dimension-spacing-px-12: 12px;
  --dimension-spacing-px-16: 16px;
  --dimension-spacing-px-20: 20px;
  --dimension-spacing-px-24: 24px;
  --dimension-spacing-px-32: 32px;
  --dimension-spacing-px-40: 40px;
  --dimension-spacing-px-232: 232px;
  --dimension-spacing-px-420: 420px;
  --dimension-radius-px-0: 0px;
  --dimension-radius-px-4: 4px;
  --dimension-radius-px-8: 8px;
  --dimension-radius-px-12: 12px;
  --dimension-radius-px-9999: 9999px;
  --dimension-border-width-px-0: 0px;
  --dimension-border-width-px-1: 1px;
  --dimension-font-size-px-13: 13px;
  --dimension-font-size-px-15: 15px;
  --dimension-font-size-px-16: 16px;
  --dimension-font-size-px-17: 17px;
  --dimension-font-size-px-20: 20px;
  --dimension-font-size-px-24: 24px;
  --dimension-font-size-px-32: 32px;
  --dimension-line-height-px-17: 17px;
  --dimension-line-height-px-18-2: 18.2px;
  --dimension-line-height-px-20: 20px;
  --dimension-line-height-px-21: 21px;
  --dimension-line-height-px-24: 24px;
  --dimension-line-height-px-28: 28px;
  --dimension-line-height-px-30: 30px;
  --dimension-line-height-px-39-68: 39.68px;
  --typography-font-family-stack-01: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --typography-font-family-stack-02: Cahuenga, serif;
  --typography-font-family-stack-03: -apple-system-ui-serif, ui-serif, Spectral, Georgia, serif;
  --typography-font-family-stack-04: "SF Pro Display", -apple-system-headline, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --typography-font-weight-weight-400: 400;
  --typography-font-weight-weight-500: 500;
  --typography-font-weight-weight-600: 600;
  --typography-font-weight-weight-700: 700;
  --typography-font-weight-weight-800: 800;
  --source-color-background_contrast_1: #f0f0f0;
  --source-color-background_contrast_2: #dddddd;
  --source-color-background_contrast_3: #b7b7b7;
  --source-color-background_contrast_4: #929292;
  --source-color-background_contrast_5: #515151;
  --source-color-background_contrast_pop: rgba(255, 103, 25, 0.4);
  --source-color-background_pop: #ff6719;
  --source-color-background_pop_darken: #ff5600;
  --source-color-cover_bg_color_secondary: #f0f0f0;
  --source-color-cover_border_color: #ff6719;
  --source-color-cover_print_primary: #363737;
  --source-color-cover_print_secondary: #757575;
  --source-dimension-size-left-nav: 232px;
}
